body{
    background-color: #F3F5FC;
}

header{
    padding: 20px;
    margin-bottom: 50px;
}

.logo{
    position: absolute;
    padding: 10px;

   
    
}

.ingresetexto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
}

.recuadro{
    background-color: white;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 70%;
    top: 40px;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.imagenbusca{
    width: 400px;
    position: relative;
    padding-top: 50px;
    top: 20%;
      
}


.sinmensaje{
    position: relative;
    width: 336px;
    height: 58px;
    left: 9%;
    top: 250px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    
}

.textoencriptar{
    position: relative;
    width: 336px;
    height: 48px;
    left: 9%;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;

    /* Gray/gray-400 */
    color: #495057;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;


}